/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




.white-bg {
  background-color: #fff;
}

.class-boxes {
  border: 1px solid var(--ion-border-color);
  border-radius: 15px;
}
.full-height-child {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  ion-row {
    padding-bottom: 0;
    &,
    ion-col {
      height: 100%;
      padding-bottom: 0;
    
      [size="12"] {
        padding: 12px 14px 46px;
      }
      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
      }
      h4 {
        margin: 0;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}