<ion-app>
  <ion-header translucent class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">
        Your Classes
      </ion-title>
      <ion-title size="medium">
        Select a class to enter.
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>

    <ion-grid>
      <ion-row>

        <ion-col class="full-height-child" size="12" size-lg>
          <ion-row>
            <ion-col size="6" size-lg>
              <ion-row>
                <ion-col class="white-bg class-boxes" size="12" size-lg>
                  <h2>Digital Marketing 1</h2>
                  <h4>Section: 1DP-2</h4>
                  <h4>8 Students</h4>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="6" size-lg>
              <ion-row>
                <ion-col class="white-bg class-boxes" size="12" size-lg>
                  <h2>Digital Marketing 1</h2>
                  <h4>Section: 1DP-3</h4>
                  <h4>17 Students</h4>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="full-height-child" size="12" size-lg>
          <ion-row>
            <ion-col size="6" size-lg>
              <ion-row>
                <ion-col class="white-bg class-boxes" size="12" size-lg>
                  <h2>Digital Marketing 1</h2>
                  <h4>Section: 1DP-2</h4>
                  <h4>8 Students</h4>
                  <img src="./img/icon-open-drive-button.svg">
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="6" size-lg>
              <ion-row>
                <ion-col class="white-bg class-boxes" size="12" size-lg>
                  <h2>Digital Marketing 1</h2>
                  <h4>Section: 1DP-3</h4>
                  <h4>17 Students</h4>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    
    </ion-grid>
  </ion-content>
</ion-app>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
